* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}

$padding: 20px;
$main-color: #1890ff;
$border-color: #eee;

body {
  font-size: 16px;
}

.site-page {
  background: #ffffff;
  min-height: 100vh;
}

.site-main {
  padding-top: 16px;
}

.site-header {
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 8px 0;

  .logo {
    padding: 0 $padding;
    display: flex;
    align-items: center;

    >img {
      margin-right: 8px;
    }

    >span {
      color: $main-color;
      font-size: 22px;
    }
  }
}

.site-aside {
  border-right: 1px solid #EEEEEE;
  margin-right: 16px;

  h2 {
    padding: $padding;
    font-size: 18px;
  }

  .aside-menu {
    min-width: 16em;

    .menu-item-group {
      .menu-item-group-title {
        font-size: 15px;
        padding-left: 40px;
        padding-bottom: 8px;
        padding-top: 8px;
        color: rgba(0, 0, 0, 0.45);
      }

      .menu-item-group-list {
        .menu-item {
          margin: 8px 0;
          width: calc(100% + 1px);

          a {
            font-size: 13px;
            color: #333;
            display: block;
            padding: 8px 70px;

            &:hover {
              color: $main-color;
            }

            &.active {
              color: $main-color;
              background: #e6f7ff;
              border-right: 3px solid #1890ff;
            }
          }
        }
      }
    }
  }
}

.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid $border-color;
}

.example {
  padding: 16px 0;
}